[Unit]
Description=proxy whitelist

[Service]
User=root
WorkingDirectory=/usr/whitelist
ExecStart=/usr/bin/python3 /usr/whitelist/main.py
Restart=always

[Install]
WantedBy=multi-user.target